<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Kalkulator walutowy</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>

<h2 class="title">Kalkulator walut</h2>

<form method="post">
    <label for="currencies">Wybierz walutę:</label>
    <select name="currencies" id="currencies">
        {% for i in codes %}
        <option>{{ i }}</option>
        {% endfor %}  
    </select>

    <p><label for="element">Wprowadź kwotę:</label></p>
    <input id="element" name="element"/><br>
    
    <input type="submit" value="Prześlij"/>
</form>

{% if transaction_cost is defined %}
<p>Koszt zakupu waluty: {{ '%.2f'|format(transaction_cost) }}</p>
{% endif %}

</body>
</html>